body{
    font-family: 'DM Sans', sans-serif;
}

header{
   padding-left: 2rem;
   padding-right: 2rem;
   padding-top: 1rem;
   display: flex;
   justify-content: space-between;
}

nav ul{

    display: flex;
    justify-content: space-around;
    gap: 40px;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #666666;
    font-size: 14px;
}
#logo{
    font-size: 30px;
    font-weight: 900;
    color:#42446E;

}
.hero-section{
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.fola{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.intro{
    width: 85%;
    font-size: 30px ;
    font-weight:700 ;
    font-family: 'DM Sans', sans-serif;
    color: #42446E;
    text-align: justify;
}
.resume a {
    text-decoration: none;
    color: #42446E;
}
.section-1{
    margin-top: 50px;
    margin-left: 2rem;
    margin-right: 2rem;
}
.tech-stacks{
    text-align: center;
}
.tech-stacks h2{
    color:#42446E;
    
}
.tech-stacks p{
    color:#666666;
}
.stacks-images{
    margin-left: 90px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 80px;

}
.code{
    width: 80px;
    height: 80px;
}

.card{
    background-color:#fff;
    width: 200px;
    height: 300px;
    border-radius: 3%;
    box-shadow: 3px 3px 3px 3px #888888;
    padding: 10px;
   
}
.card-img{
    height: 150px;
    width: 200px;
    
}
.card-second-section h2{
    font-size: 20px;
}

.card-second-section .web{
    font-size: 10px;

}
.card-second-section .stack{
    font-size: 8px;
}
.card-second-section a{
    font-size: 8px;
    text-decoration-color: black;
    color:black
}
.card-second-section i{
    font-size: 8px;
}
.section-2{
    padding-left: 2rem;
    margin-right: 2rem;
}
 .project{
    text-align: center;
    padding-top: 30px;
    color:#42446E;
    
}
.built{
    text-align: center;
    color: #666666;
}

.card-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 26px;
}



