body{
    font-family: 'DM Sans', sans-serif;
}

header{
   padding-left: 2rem;
   padding-right: 2rem;
   padding-top: 1rem;
   display: flex;
   justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #666666;
    font-size: 14px;
}
#logo{
    font-size: 30px;
    font-weight: 900;
    color:#42446E;

}
.hero-section{
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.fola{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.intro{
    width: 85%;
    font-size: 30px ;
    font-weight:700 ;
    font-family: 'DM Sans', sans-serif;
    color: #42446E;
}
.resume a {
    text-decoration: none;
    color: #42446E;
}
.section-1{
    margin-top: 50px;
    margin-left: 2rem;
    margin-right: 2rem;
}
.tech-stacks{
    text-align: center;
}
.tech-stacks h2{
    color:#42446E;
    
}
.tech-stacks p{
    color:#666666;
}
.stacks-images{
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 100px;

}
.code{
    width: 80px;
    height: 80px;
}
